<!--
~ JBoss, Home of Professional Open Source.
~
~ Copyright 2023 Red Hat, Inc., and individual contributors
~ as indicated by the @author tags.
~
~ Licensed under the Apache License, Version 2.0 (the "License");
~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~     http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
-->

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">
    <default-context-path>/grpc-test</default-context-path>
    <servlet>
        <servlet-name>GrpcServlet</servlet-name>
        <servlet-class>
            dev.resteasy.grpc.bridge.runtime.servlet.GrpcHttpServletDispatcher
        </servlet-class>
    </servlet>

    <!--
      The intention is that CC1MessageBodyReaderWriter (with the help of CC1_JavabufTranslator)
      will handle all reading and writing of data objects. Therefore, we

      1. eliminate all builtin providers, and then
      2. add back builtin providers other than MessageBodyReaders and MessageBodyWriters.

    -->
    <context-param>
        <param-name>resteasy.use.builtin.providers</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/grpcToJakartaRest</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
            org.jboss.resteasy.client.jaxrs.internal.CompletionStageRxInvokerProvider,
            org.jboss.resteasy.plugins.interceptors.CacheControlFeature,
            org.jboss.resteasy.plugins.interceptors.ClientContentEncodingAnnotationFeature,
            org.jboss.resteasy.plugins.interceptors.MessageSanitizerContainerResponseFilter,
            org.jboss.resteasy.plugins.interceptors.ServerContentEncodingAnnotationFeature,
            org.jboss.resteasy.plugins.providers.AsyncStreamingOutputProvider,
            org.jboss.resteasy.plugins.providers.CompletionStageProvider,
            org.jboss.resteasy.plugins.providers.jackson.PatchMethodFilter,
            org.jboss.resteasy.plugins.providers.jaxb.XmlJAXBContextFinder,
            org.jboss.resteasy.plugins.providers.jsonp.JsonpPatchMethodFilter,
            org.jboss.resteasy.plugins.providers.ReactiveStreamProvider,
            org.jboss.resteasy.plugins.validation.ResteasyViolationExceptionMapper,
            org.jboss.resteasy.plugins.validation.ValidatorContextResolver,
            org.jboss.resteasy.plugins.validation.ValidatorContextResolverCDI,
            org.jboss.resteasy.security.doseta.ClientDigitalSigningHeaderDecoratorFeature,
            org.jboss.resteasy.security.doseta.ClientDigitalVerificationHeaderDecoratorFeature,
            org.jboss.resteasy.security.doseta.DigitalSigningInterceptor,
            org.jboss.resteasy.security.doseta.DigitalVerificationInterceptor,
            org.jboss.resteasy.security.doseta.ServerDigitalSigningHeaderDecoratorFeature,
            org.jboss.resteasy.security.doseta.ServerDigitalVerificationHeaderDecoratorFeature
        </param-value>
    </context-param>

    <servlet-mapping>
        <servlet-name>GrpcServlet</servlet-name>
        <url-pattern>/grpcToJakartaRest/*</url-pattern>
    </servlet-mapping>
</web-app>